body {
    background: radial-gradient(ellipse, #A084CA, #9370DB); /* Фиолетовый -> Светло-фиолетовый */
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
}

/* Стиль кнопки сайта */
#home {
    padding: 11px 20px; /* Внутренние отступы */
    color: #fff; /* Белый текст */
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease;
    font-size: 20px;
}

.home-button:hover {
  transform: scale(1.2); /* Увеличение на 10% при наведении */
}

/* разметка страницы для формы */
.container {
    width: 100vw;
    height: 60vh;

    display: grid;
    grid-template-columns: 30vw 40vw 30vw;
}

/* Форма для логина */
.form-login {
    margin: auto; /* по середине */
    padding: 43px 33px; /* размер рамки */
    font-size: 20px;
    }

.input-block {
       margin-bottom: 1rem;
}

.input-block > label, .input-block > input {
    width: 100%;
}

/* поля вода логина и пароля */
input {
    font-size: 20px;
    outline: none;
    border: 1px solid EBC7E8;
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    background-color: inherit; /* прозрачные поля логина и пароля */
    width: 100%; /* ширина полей ввода */
    font-style: normal;
    font-weight: 300;
}

/* подписи над полями ввода */
label {
    display: block; /* Размещает подпись над полем ввода */
    margin-bottom: 5px; /* Добавляет небольшой отступ между подписью и полем ввода */
  }

/* центрирование кнопки войти/ регистрация */
.button-block {
    text-align: center;
}

/* кнопка войти */
button {
    font-size: 20px;
    outline: none;
    border: 1px solid EBC7E8;
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    background-color: inherit; /* прозрачные поля */
    cursor: pointer;
    font-weight: 500;
    width: 50%;
}

/* кнопка Войти при наведении меняет цвет */
button:hover {
    background-color: #BFACE0;
}