{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'meetings/css/check.css' %}"/>
<div class="container-fluid events-container">
    <h1 class="mb-4 ml-3">Вот, где хотели бы собраться твои друзья</h1>
    <div class="filters-container">
        <a href="?filter=author" class="filter-btn {% if current_filter == 'author' %}active{% endif %}">
            Мои встречи
        </a>
        <a href="?filter=actual" class="filter-btn {% if current_filter == 'actual' %}active{% endif %}">
            Актуальные
        </a>
        <a href="?filter=past" class="filter-btn {% if current_filter == 'past' %}active{% endif %}">
            Прошедшие
        </a>
        <a href="?filter=all" class="filter-btn {% if current_filter == 'all' %}active{% endif %}">
            Все встречи
        </a>
    </div>
    <div class="row g-4">
        {% for meeting in page_obj %}
        <div class="col-md-5 col-lg-4">
            <a href="{% url 'meeting_detail' meeting.pk %}" class="card-link">
                <div class="card meeting-card" style="border-left: 8px solid {{ 'rgb(100, 92, 170)' }}">
                    <div class="card-content">
                        <h2 class="card-title">{{ meeting.reason_to_meet }}</h2>
                        <p class="card-text">
                            <strong>Чем займёмся:</strong> {{ meeting.what_to_do|truncatechars:100 }}<br>
                            <strong>Место сбора: </strong> {{ meeting.meeting_place|truncatechars:100 }}<br>
                            <strong>Когда: </strong> {{ meeting.date_meeting }}
                        </p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Пагинация -->
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}&filter={{ current_filter }}">
                <i class="fas fa-chevron-left"></i>
            </a>
        </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
        <!-- Кнопка назад -->
        <li class="page-item {% if num == page_obj.number %}active{% endif %}">
            <a class="page-link" href="?page={{ num }}&filter={{ current_filter }}">{{ num }}</a>
        </li>
        {% endfor %}

        {% if page_obj.has_next %}
        <!-- Кнопка вперед -->
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}&filter={{ current_filter }}">
                <i class="fas fa-chevron-right"></i>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
</div>
{% endblock %}
