{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'meetings/css/detail.css' %}"/>
<div class="custom-container">
    <!-- Детали встречи -->
    <div class="meeting-card">
        <div class="card-header">
            <h2 class="meeting-title">{{ meeting.reason_to_meet }}</h2>
        </div>

        <div class="card-content">
            <div class="details-grid">
                <div class="detail-item">
                    <h4>Чем займёмся:</h4>
                    <p>{{ meeting.what_to_do }}</p>
                </div>

                <div class="detail-item">
                    <h4>Место сбора:</h4>
                    <p>{{ meeting.meeting_place }}</p>
                </div>

                <div class="detail-item">
                    <h4>Адрес:</h4>
                    <p>{{ meeting.address }}</p>
                </div>

                <div class="detail-item">
                    <h4>Дресс-код:</h4>
                    <p>{{ meeting.dress_code }}</p>
                </div>

                <div class="detail-item">
                    <h4>Когда собираемся:</h4>
                    <p>{{ meeting.date_meeting }}</p>
                </div>

                {% if meeting.link %}
                <div class="detail-item">
                    <h4>Ссылка:</h4>
                    <p><a href="{{ meeting.link }}" class="custom-link">Тык сюда</a></p>
                </div>
                {% else %}
                <div class="detail-item">
                    <h4>Ссылка:</h4>
                    <p>Ссылки нет - чекаем газеты :)</p>
                </div>
                {% endif %}
            </div>

            <div class="meeting-footer">
                <span>Предложение от {{ meeting.date_create|date:"d.m.Y" }}</span>
                <span>Собирает: {{ meeting.author.username }}</span>
            </div>
        </div>
    </div>

     <!-- Комментарии -->
    <div class="comments-section">
        <div class="comments-header">
            <h4>Комментарии ({{ comments.count }})</h4>
        </div>

        <form method="post" class="comment-form">
            {% csrf_token %}
            <textarea name="text" placeholder="Ну что, собираемся?"></textarea>
            <button type="submit">Отправить</button>
        </form>

        <div class="comments-list">
            {% for comment in comments %}
            <div class="comment-card">
                <p class="comment-text">{{ comment.text }}</p>
                <div class="comment-info">
                    <span>{{ comment.author.username }}</span>
                    <span>{{ comment.created_date|date:"d.m.Y H:i" }}</span>
                </div>
            </div>
            {% empty %}
            <p class="no-comments">Пока нет комментариев</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}