{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'meetings/css/style.css' %}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Собирайся!</title>
</head>
<body>
    <div class="header">
        <div class="btn site-name"><a id="home" href="{% url 'home' %}" class="home-button">Собирайся!</a></div>
        <div class="nav-buttons">
            <a class="btn btn-primary" href="{% url 'suggest' %}">Предложить встречу</a>
            <a class="btn btn-primary" href="{% url 'check' %}">Чекнуть встречи</a>
        </div>
        <div class="auth-buttons">
            <a class="btn btn-primary" href="{% url 'login' %}">Вход</a>
            <a class="btn btn-primary" href="{% url 'register' %}">Регистрация</a>
        </div>
    </div>
<!-- Блок контента -->
	<div class="content-text">
{% block content %}
{% endblock %}
	</div>
<!-- Конец блока контента -->
</body>
</html>