{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/login.css' %}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Собирайся!</title>
    <div class="header">
    <div class="btn site-name"><a id="home" href="{% url 'home' %}" class="home-button">Собирайся!</a>
    </div></div>
</head>
<body>
    <div class="container">
<!--        <div class="filler"></div>-->
        <div class="form-login">
            <form method="POST">
                {% csrf_token %}
                <div class="input-block">
                    <label for="login">Логин</label>
                    <input id='login' type="text" name="login">
                </div>
                <div class="input-block">
                    <label for="password">Пароль</label>
                    <input id='password' type="password" name="password">
                </div>
                <div class="button-block">
                    <button>Войти</button>
                </div>
            </form>
        </div>
<!--        <div class="filler"></div>-->
    </div>
</html>


