{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/login.css' %}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <div class="header">
    <div class="btn site-name"><a id="home" href="{% url 'home' %}" class="home-button">Собирайся!</a>
    </div></div>
</head>
<body>
    <div class="container">
        <div class="filler"></div>
        <div class="form-login">
            <form method="POST">
                {% csrf_token %}

                <!--  Сохраняет название страницы, куда нужно будет вернуться -->     
                <input type="hidden" name="next" value="{{ next }}" />

                <!-- Общие ошибки формы (например, неверный пароль) -->
                <div class="form-error">{{ form.non_field_errors }}</div>

                {% for f in form %}
                <div class="input-block">
                    <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>
                    {{ f }} <!-- Это заменит <input> -->
                    <div class="form-error">{{ f.errors }}</div> <!-- Блок ошибок для поля -->
                </div>
                {% endfor %}

                <div class="button-block">
                    <button type="submit">Регистрация</button>
                </div>
            </form>
        </div>
        <div class="filler"></div>
    </div>
</html>
